header h1 {
	display : inline;
}

#reportLink {
	font-size: 25px;
}

.content {
	padding-left : 1em;
}

.message {
	font-size : 14pt;
}

.update {
	width: 200px;
}

.message-list {
	list-style-type : none;
	padding : 0;
}

.message-list li {
	padding : .5em 0 .5em 0;
}

.message .username {
	font-weight : bold;
	margin-right : 1em;
}

#potholeReport td, th {
	border: 1px solid black;
	padding: 5px;
}


#potholeReport th {
	background-color: #ff9f00;
}

#potholeId, .status, #priority {
	text-align: center;
}

#myAccount p {
	margin: 1px;
}

#new {
	color: red;
	font-weight: bold;
	text-align: center;
}

footer {
	padding: 10px;
}

.footer {
	margin-top: 10px;
}

.to {
	background-color : #f0f0f0;
}

.error {
	color : red;
}

#currentUser {
	padding-right: 10px;
	text-align : right;
	font-weight : bold;
}

.searchCriteria {
	display : inline-block;
	
}